*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  background: linear-gradient(#393939, #282828);
  color: #f4f4f4;
  font-family: "Inter var", sans-serif;
  min-height: 100vh;
}

.page-title {
  text-align: center;
  font-weight: 500;
  font-size: 24px;
  letter-spacing: -0.6px;
  margin-top: 10px;
}

input[type="text"] {
  background: #3b3b3b;
  color: #fff;
  border: 0;
  outline: none;
  padding: 3px 5px;
  border-radius: 3px;
}

.config-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 80vh;
}

.config-label {
  width: 90px;
  text-align: right;
  font-size: 14px;
  padding-top: 4px;
  margin-right: 10px;
}

.config-section {
  display: block;
  margin: 13px auto;
}

.submit-connect {
  background: #007aff;
  border: 0;
  border-radius: 3px;
  padding: 5px 42px;
  outline: none;
  color: inherit;
  cursor: pointer;
  display: block;
  margin: 15px auto;
}

.current-slide {
  box-shadow: 0px 0px 5px #ff7414;
}

.container-title {
  display: flex;
  background-color: #1e1e1e;
  border-radius: 7px 7px 0 0;
  border-bottom: 1px solid #363636;
  color: #979797;
  padding: 9px 13px 7px 11px;
  font-size: 13px;
  font-weight: 700;
  text-transform: uppercase;
}

.module {
  border: 1px solid #717171;
  box-shadow: 2px 2px 15px #141414;
  border-radius: 7px;
  background-color: #2f2f2f;
  height: 100%;
  width: 90%;
  margin: 15px auto;
}

ul {
  list-style: none;
  text-transform: none;
  padding: 0;
  margin: 0;
}

.timer-box {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 14px;
  padding: 5px 20px 5px 10px;
  cursor: pointer;
  border-bottom: 1px solid #363636;
}

.container-slides {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.slide-number {
  font-size: 10px;
  background-color: #1e1e1e;
  padding: 1px 6px;
}

.slide-box {
  border: 1px solid #363636;
  margin: 5px;
}

.presentation-box {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 14px;
  padding: 5px 20px 5px 10px;
  cursor: pointer;
  border-bottom: 1px solid #363636;
}

.slides-size-buttons-container,
.refresh-container {
  margin-left: auto;
}

input.slides-size-buttons,
input.refresh-button {
  all: unset;
  margin: 0 10px;
  border: 1px solid #363636;
  padding: 0 7px;
  border-radius: 4px;
  font-size: 12px;
}

form.slides-size-form,
form.refresh-form {
  display: inline;
}
